.outer {
    width: 100%;
    background-color: whitesmoke;
    padding: 20px;
    height: 220px;
  }
.outer h3{
      font-weight: 300;
      letter-spacing: 0.05em;
      margin: 0 0 40px;
      font-size: 24px;
  }
  .outer .tab-container-Box1, .tab-container-Box2, .tab-container-Box3, .tab-container-Box4{
    float:left;
    width:25%;
    text-align: left;
    padding: 30px;
  }
 .outer p{
     color: #736E6D;
 }
.boxlinks a{
    color:#736E6D;
}

.boxlinks a:hover{
    color:#03a9f4;
}
.phone{
    color: #736E6D;
}
i.icon-blue {
    color: whitesmoke;
}
.btn-group{
  background-color: whitesmoke; /* Green background */
   /* Green border */ /* Some padding */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
.btn-group button{
    color:whitesmoke;
    background: #03a9f4;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    height: 30px;
    border: 0.5px solid whitesmoke;

}
.btn-group button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  .btn-group button:focus{
    background-color:#03a9f4;
}
