body{
	margin: 0px;
	padding: 0px;
}
.banner{
	background: url('./Images/banner_Image.jpg') no-repeat center top;
  background-size: cover;
	min-height: 400px;
	position: relative;
	margin: 0px;
}
.bg-color{
	background-color: RGBA(12, 11, 11, 0.82);
	min-height: 400px;
}

  .form-container{
  text-align: center;
	background: transparent;
  padding: 40px;
  padding-top: 8%;
  margin-left: 5%;
  margin-right: 5%;
  }
.caption h3{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: whitesmoke;
	letter-spacing: 0.05em;
	margin: 0 0 40px;
	font-size: 32px;
  }

.searchDoc {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 10%;
	margin-right: 10%;
	background: rgba(195,194,194, 0.2);
	height: 100px;
	}
	#requiredField{
		padding: 2%;
	margin-left: 10%;
	margin-right: 10%;
	align-items: center;
	height: 60px;
	width: 80%;
	}
	#fieldHeading{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 300;
		color: whitesmoke;
		letter-spacing: 0.05em;
		margin: 0 0 40px;
		font-size: 12px;
			
	}
  .signUpBox1, .signUpBox2 , .signUpBox3{
		padding: 2%;
		float:left;
    width:33.33%;
    text-align: center;
	}
select{
		font-size: 15px;
		color:	#696969;
		font-family: Arial, Helvetica, sans-serif;
	}
  .submitButton{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 500;
		font-size: 15px;
		text-transform: uppercase;
		width: 100%;
		height:45px;
		background-color:#03a9f4;
		border: none; 
		color: whitesmoke;
	}
  .submitButton:hover{
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.submitButton:focus{
		background-color:#03a9f4;
	}
	