#testimonial{
    background-color:#222222;
    width: 100%;
    padding: 20px;
}
.bg-white{
    background-color:whitesmoke;
}
.comment-box{
  background-color:whitesmoke;
  padding: 15px;
}
.comment-heading{
  color: whitesmoke;
}
.comment-line{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border: none;
  height: 4px;
  background: whitesmoke;
  width: 2.5%;
}
.text-comment{
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.text-par{
  font-size: 20px;
  padding-bottom: 15px;
}