#diseases{
    padding: 20px;
    width: 100%;
    background: whitesmoke;
}
.diseases-line{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: none;
    height: 4px;
    background: #222222;
    width: 2.5%;
}
[class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
    background-color: #03a9f4;
    padding: 30px;
}
[class*=" imghvr-"], [class^="imghvr-"] {
    background-color: #03a9f4;
    color: whitesmoke;
}