.footer {
    position: absolute;
    width: 100%;
    padding: 60px 0 20px;
    background: #222222;
    color:whitesmoke;
  }
.footer h3{
      font-weight: 300;
      letter-spacing: 0.05em;
      margin: 0 0 40px;
      font-size: 24px;
  }
  .footer .footerBox1, .footerBox2, .footerBox3{
    float:left;
    width:33.33%;
    text-align: left;
    padding-left: 150px;
  }
 .footer p{
     color: #736E6D;
 }
.boxlinks a{
    color:#736E6D;
}

.boxlinks a:hover{
    color:#03a9f4;
}
.phone{
    color: #736E6D;
}
i.icon-blue {
    color: whitesmoke;
}
.credits{
    text-align: center;
    padding-bottom: 10px;
  
}

hr {
    width: 90%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color:#736E6D;
    border: 0 none;
    margin-top: 150px;
    margin-bottom:10px;
    }